<div class='row'>
    <div class='col-md-3'>
      <div class="wrapper fadeInDown">
  
        <div id='formContent' class=''>
    
          <div id='RegisterNote' class='note fadeIn first'>
            <div class='row'>
              <div class='col-md-12'>
                <i class='material-icons dashboard-icons float-left' onclick=''>reorder</i>
              </div>
            </div>
          </div>

          <button>Profiel</button>
          <button>Lijst Kinderen</button>
          <button>Ouder Toevoegen</button>
  
          <div id="formFooter">
              <a class="underlineHover" routerLink="/login-page">Log uit</a>
            </div>
        </div>
        
      </div>
    </div>
    <div class='col-md-9'>
      <div class="wrapper child-wrapper fadeInDown">
  
        <div id='formContent' class=''>

            <div id='RegisterNote' class='note fadeIn first'>
                <div class='row'>
                  <div class='col-md-12'>
                    <p>Kind Dashboard</p>
                  </div>
                </div>
              </div>

              <div class="container emp-profile">
                  <form method="post">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="profile-img">
                                  <img src="./assets/person_placeholder.png" alt=""/>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="profile-head">
                                          <h5>
                                              Jantje Jansen
                                          </h5>
                                          <h6>
                                              ____________________
                                          </h6>
                                          <p class="proile-rating">Voortgang : <span>57%</span></p>
                                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">informatie</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Voortgang</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#parents" role="tab" aria-controls="profile" aria-selected="false">Ouders</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="profile" aria-selected="false">Notificaties</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/> -->
                              <button>Wijzig Profiel</button>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <div class="profile-work">
                                  <p>Info</p>
                                  <a href="">-----</a><br/>
                                  <a href="">-----</a><br/>
                                  <a href="">-----</a>
                                  <p>Info</p>
                                  <a href="">-----</a><br/>
                                  <a href="">-----</a><br/>
                                  <a href="">-----</a><br/>
                                  <a href="">-----</a><br/>
                                  <a href="">-----</a><br/>
                              </div>
                          </div>
                          <div class="col-md-8">
                              <div class="tab-content profile-tab" id="myTabContent">
                                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Gebruikersnaam</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Jantie</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Naam</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Jantje Jansen</p>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Email</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Jantie@gmail.com</p>
                                                  </div>
                                              </div>

                                  </div>

                                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <label>Chart hier</label>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <p>Nog een chart hier</p>
                                                  </div>
                                              </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <label>Op schema?</label><br/>
                                              <p>Nei</p>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="tab-pane fade" id="parents" role="tabpanel" aria-labelledby="profile-tab">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <label>Ouder 1</label>
                                          </div>
                                          <div class="col-md-6">
                                              <label>Ouder 2</label>
                                          </div>
                                          <div class="col-md-6">
                                            <input type="text" id="parentEmail1" class="" name="parentEmail1" placeholder="Email">
                                          </div>
                                          <div class="col-md-6">
                                            <input type="text" id="parentEmail2" class="" name="parentEmail2" placeholder="Email">
                                          </div>
                                          <div class="col-md-6">
                                            <input type="number" id="parentNumber1" class="" name="parentNumber1" placeholder="Telefoonnummer">
                                          </div>
                                          <div class="col-md-6">
                                            <input type="number" id="parentNumber2" class="" name="parentNumber2" placeholder="Telefoonnummer">
                                          </div>
                                          <div class="col-md-12">
                                            <p></p>
                                          </div>
                                          <div class="col-md-12">
                                            <button>Wijzigingen opslaan</button>
                                          </div>
                                      </div>
                          </div>
                          <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="profile-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Notificaties Door Whattsapp?</label>
                                  </div>
                                  <div class="col-md-6">
                                      <input id='whattsappToggle' type='checkbox' data-toggle='toggle'>
                                  </div>
                                  <div class="col-md-6">
                                      <label>Notificaties Door Email?</label>
                                  </div>
                                  <div class="col-md-6">
                                    <input id='emailToggle' type='checkbox' data-toggle='toggle'>
                                  </div>
                              </div>
                  </div>
                              </div>
                          </div>
                      </div>
                  </form>           
              </div>
    
        </div>
      </div>
    </div>
  </div> 
