<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="note fadeIn first">
      <p>Welkom bij ZINnig</p>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Validation for incorrect login data -->
      <div class="row">
        <div class="col-md-6 mx-auto">
            <div *ngIf="submitted && incorrectForm" class="invalid-feed fadeIn">
                <div>Gegevens niet correct</div>
            </div>
        </div>
      </div> 

      <!-- Username with validation for empty input field -->
      <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="fadeIn second" placeholder="Gebruikersnaam">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div *ngIf="submitted && f.username.errors" class="invalid-feed fadeIn">
              <div *ngIf="f.username.errors.required">Gebruikersnaam moet worden ingevuld</div>
          </div>
        </div>
      </div>

      <!-- Password with validation for empty input field -->
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="fadeIn second" placeholder="Wachtwoord" />
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div *ngIf="submitted && f.password.errors" class="invalid-feed fadeIn">
              <div *ngIf="f.password.errors.required">Wachtwoord moet worden ingevuld</div>
          </div>
        </div>
      </div>

      <button [disabled]='loading' class='loginBtn'>Login</button>
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="#">Wachtwoord Vergeten?</a> <br>
      <a class="underlineHover" routerLink="/register-page">Registreer Hier (Logopedist)</a>
    </div>

  </div>
</div>
