<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="note fadeIn first">
      <p>Welkom bij het Zinnig-Portaal</p>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Wachtwoord">
      <input type="submit" class="btnSubmit fadeIn fourth" value="Inloggen">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="#">Wachtwoord Vergeten?</a> <br>
      <a class="underlineHover" routerLink="/register-page">Registreer Hier (Logopedist)</a>
    </div>

  </div>
</div>
