<div class='row'>
  <div class='col-md-3'>
    <div class="wrapper fadeInDown">

      <div id='formContent' class=''>
  
        <div id='RegisterNote' class='note fadeIn first'>
          <div class='row'>
            <div class='col-md-12'>
              <i class='material-icons dashboard-icons float-left' onclick=''>reorder</i>
            </div>
          </div>
        </div>

        <button>Profiel</button>
        <button>Lijst Kinderen</button>

        <div id="formFooter">
            <a class="underlineHover" routerLink="/login-page">Log uit</a>
          </div>
      </div>
      
    </div>
  </div>
  <div class='col-md-9'>
    <div class="wrapper child-wrapper fadeInDown">

      <div id='formContent' class=''>

          <div id='RegisterNote' class='note fadeIn first'>
              <div class='row'>
                <div class='col-md-12'>
                  <p>Kind Toevoegen</p>
                </div>
              </div>
            </div>

            <div class="container emp-profile">
                <form method="post">
                    <div class="row">
                      <div class='col-md-12'>
                        <input type="text" id="childFirstname" placeholder="Voornaam"/>
                        <input type="text" id="childLastname" placeholder="Achternaam"/>
                        <input type="text" id="childEmail" placeholder="Email (niet verplicht)"/>
                        <input type="text" id="childMobile" placeholder="Mobiele nummer (niet verplicht)"/>
                        <p></p>
                        <p></p>
                        <button>Opslaan</button>
                      </div>
                    </div>
                </form>           
            </div>
  
      </div>
    </div>
  </div>
</div> 
