<div class='container register-form'>
  <div id='RegisterContainer' class='form'>
    <div id='RegisterNote' class='note'>
      <p>Welkom bij Zinnig, Registreer hier uw account</p>
    </div>

    <div id='RegisterValues' class='form-content'>
      <div class='row RegisterRow'>
        <div id='Name' class='col-md-12'>
          <input type='text' class='form-control' placeholder='Naam' value=''/>
        </div>
      </div>
      <div class='row RegisterRow'>
        <div id='Email'  class='col-md-6'>
          <input type='email' class='form-control' placeholder='Email' value=''/>
        </div>
        <div id='Clientele' class='col-md-6'>
          <input type='text' class='form-control' placeholder='Praktijk (Nr)' value=''/>
        </div>
      </div>
      <div class='row RegisterRow'>
        <div id='Password' class='col-md-6'>
          <input type='password' class='form-control' placeholder='Wachtwoord' value=''>
        </div>
        <div id='PasswordConfirm' class='col-md-6'>
          <input type='password' class='form-control' placeholder='Bevestig Wachtwoord' value=''/>
        </div>
      </div>
      <button type='button' class='btnSubmit'>Registreer</button>
    </div>
  </div>
</div>  