<div class='row'>
  <div class='col-md-3'>
    <div class="wrapper fadeInDown">

      <div id='formContent' class=''>
  
        <div id='RegisterNote' class='note fadeIn first'>
          <div class='row'>
            <div class='col-md-12'>
              <i class='material-icons dashboard-icons float-left' onclick=''>reorder</i>
            </div>
          </div>
        </div>

        <button>Profiel</button>
        <button>Kind Toevoegen</button>

        <div id="formFooter">
            <a class="underlineHover" routerLink="/login-page">Log uit</a>
          </div>
      </div>
      
    </div>
  </div>
  <div class='col-md-9'>
    <div class="wrapper child-wrapper fadeInDown">

      <div id='formContent' class=''>
  
        <div id='RegisterNote' class='note fadeIn first'>
          <p>Patienten</p>
        </div>


        <div class='row'>
          <div class='col-md-4'>
              <div class="card child-card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/300x300.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title float-center">Jantje jansen</h5>
                  <p class="card-text">Een kleine beschrijving</p>
                  <button class='child-card-button'>Zie details</button>
                </div>
              </div>
          </div>
          <div class='col-md-4'>
              <div class="card child-card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/300x300.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title float-center">Jantje jansen</h5>
                  <p class="card-text">Een kleine beschrijving</p>
                  <button class='child-card-button'>Zie details</button>
                </div>
              </div>
          </div>
          <div class='col-md-4'>
              <div class="card child-card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/300x300.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title float-center">Jantje jansen</h5>
                  <p class="card-text">Een kleine beschrijving</p>
                  <button class='child-card-button'>Zie details</button>
                </div>
              </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div> 
 
 